{% extends 'layout.html' %}

{% block content %}
<h1>Welcome to the Home Page</h1>
<p>This is a Flask app, Chitchat.</p>

<!-- Begin introduction section -->
<section>
    <h2>Feel lonely? We are always here.</h2>
    <p>Transform Your Conversations with ChitChat: Where Every Message Matters! Experience the art of communication like never before. Dive into seamless, engaging, and intuitive chats that bring your words to life. With ChitChat, it's not just about what you say, it's about making every conversation an unforgettable journey. Ready to elevate your chat game? Let's ChitChat!</p>

    <h3>How It Works</h3>
    <ul>
        <li><strong>Initiate Your Creative Journey:</strong> Begin by inputting your initial thought or question into our text field. It could be the opening line of a tale, an intriguing subject, or a multifaceted inquiry.</li>
        <li><strong>Create and Observe:</strong> Click on the 'Produce Text' button and observe as our application, powered by OpenAI's advanced AI technology, transforms your initial idea into an elaborate and insightful composition.</li>
        <li><strong>Explore and Innovate:</strong> Every input has the potential to veer into novel and surprising paths. Harness the power of AI to spark your imagination or address complex challenges.</li>
        
    </ul>
</section>
<!-- End introduction section -->

{% endblock %}